[python: UI/**.py]
keywords = _ _n:1,2 gettext ngettext:1,2

[python: jobfinder/**.py]
keywords = _ _n:1,2 gettext ngettext:1,2

[python: ML/**.py]
keywords = _ _n:1,2 gettext ngettext:1,2 translate

[python: main.py]
keywords = translate

[javascript: UI/static/**.js]
keywords = translate setStatus

[extractors]
static_html = jobfinder.i18n.extractors:extract_static_html

[static_html: UI/static/**.html]
